
.containers {
 margin-top: 400px;

}

.ok {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    height: 400px;
    background-color: rgb(23, 1, 33);
    border-radius: 10% 15%;
    max-width: 500px;
    position: relative;
    border: 5px solid red;
    animation: borderAnimation 5s infinite;
}

.ok::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    translate: -50% -50%;
    left: 50%;
    top: 50%;
    z-index: -1;
    padding: 5px;
   
    border-radius: 10px;
}

@keyframes borderAnimation {
    0% {
        border-color: red;
    }
    25% {
        border-color: rgb(237, 216, 23);
    }
    50% {
        border-color: rgb(40, 93, 239);
    }
    75% {
        border-color: rgb(211, 43, 223);
    }
    100% {
        border-color: rgb(121, 60, 235);
    }
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 90%;
    }
}